body {
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
} 

canvas {  background-color: #001d3b;   object-fit: contain;
  max-height: 100%;
  max-width: 100%;}